*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body,html{
    height: 100%;
    background-image: url('../images/background-technology-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*Inicio Do Estilo Do Header*/
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.sessao1{
    padding-bottom: 200px;
}
header{
    font-size: 19px;
    padding: 20px 0;
    
}
nav{
    display:flex;
    justify-content: space-between;
}
nav i{
    color: #d0d7e1;
    padding: 20px 0;
    font-size: 30px;
}
div.hamburger{
	display: none;
}
.nav-active{
    transform: translateX(0%) !important;
    -webkit-transform: translateX(0%) !important;
    -moz-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    -o-transform: translateX(0%) !important;
}
.bg-active{
    display: block !important; 
    opacity: 1 !important;
}
.mobile-nav{
	background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
	width: 50%;
	text-align: center;
	transform: translateX(-200%);
	position: fixed;
	left:0;
	top: 0;
	height: 100%;
	border-radius: 10px;
	z-index: 9;
	-webkit-transform: translateX(-200%);
	-moz-transform: translateX(-200%);
	-ms-transform: translateX(-200%);
	-o-transform: translateX(-200%);
}
.mobile-nav ul{
	padding: 30px 0;
    display:flex;
    flex-direction: column;
}
.mobile-nav a{
	color: #d0d7e1;
	
}
.mobile-nav ul li{
	padding: 20px 0;
	list-style-type: none;
}
.bg-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}
nav ul{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    padding: 25px 70px;
}
ul li{
    display: inline-block;
}
li a{
    text-decoration: none;
    margin: 0 15px;
    color: #d0d7e1;
}
li b{
    margin:0 10px;
    color: #f4f7ff;
    font-weight: bold;
}
/*Fim Do Estilo Do Header*/
/*Inicio da sessão sobre content*/
.cta{
    text-align:center;
    color: #B0BED2;
}
.cta h2{
    font-size: 30px;
}
.cta h2 > b{
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase; 
    letter-spacing: 2px;
}
.box-estudos{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    color: #B0BED2;
}
.box-single h3{
    font-size: 45px;
    margin-bottom: 20px;
}
.box-single h4{
    font-size: 25px;
    margin-bottom: 20px;
    color: #ffffff;
}
.box-single p{
    font-size: 16px;
    margin-right: 50px;
}
/*Fim da sessão sobre content*/
/*Responsivo*/
@media screen and (max-width: 1200px){
    body,html{
        background-image: url('../images/background-technology-tablet.jpg');
      
    }
    .box-estudos{
      flex-shrink: shrink;
    }
    .box-single h3{
        font-size: 35px;
    }
    .box-single h4{
        font-size: 20px;
    }
    .box-single p{
        margin-bottom: 10px;
        
    }
    .cta h2{
        font-size: 19px;
    }
    .cta h2 > b{
        font-size: 50px;
    }
}
@media screen and (max-width: 920px){
    body,html{
        background-image: url('../images/background-technology-mobile.jpg');
    }
    .box-estudos{
        flex-direction: column;
        text-align: center;
      }
}
@media screen and (max-width: 768px){
    .sessao1{
        padding:0;
    }
    header{
        width: 100%;
    }
    nav.desktop ul{
        display: none;
    }
    div.hamburger{
        display:flex;
        justify-content: space-around;
        position: relative;
        top: 0;
        z-index: 99;
	}
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
        background-color: #fff;
    }
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after{
        background-color: #fff;
    }
    .cta h2{
        font-size: 19px;
    }
    .cta h2 > b{
        font-size: 40px;
    }
}
@media screen and (max-width: 660px){
    .cta h2{
        font-size: 16px;
    }
    .cta h2 > b{
        font-size: 30px;
    }
}
@media screen and (max-width: 580px){

    .box-estudos{
        margin-top: 20px;
    }
    .box-single h3{
        font-size: 25px;
    }
    .box-single h4{
        font-size: 15px;
    }
    .box-single p{
       font-size: 12px;
        
    }
    .cta h2{
        font-size: 16px;
    }
    .cta h2 > b{
        font-size: 30px;
    }
}
@media screen and (max-width: 440px){
    .box-single h3{
        display: none;
    }
    .box-single h4{
        font-size: 12px;
    }
    .box-single p{
       font-size: 10px;
        
    }
    .cta h2{
        font-size: 12px;
    }
    .cta h2 > b{
        font-size: 20px;
    }
}
/*Fim do Responsivo*/